<div *ngFor="let category of categories" class="category">
  <div class="category-header"><span >{{category.ReadState}}</span></div>
  <div  class="books">
    <div *ngFor="let Book of category.books" class="book">
        <figure>
            <img src="{{Book.imageURL}}"
                 alt="book image">
            <figcaption>
                <div class="book-name">{{Book.name}}</div>
                <div class="author-name">{{Book.author}}</div>
            </figcaption>
        </figure>
        <ng-template #popContent>
            <p class="hint">Move to...</p>
            <p class="options" (click)="changeStatus(Book,'Currently Reading')">Currently Reading</p>
            <p class="options" (click)="changeStatus(Book,'Want to Read')">Want to Read</p>
            <p class="options" (click)="changeStatus(Book,'Read')">Read</p>
            <p class="options" (click)="changeStatus(Book,'None')">None</p>
        </ng-template>
        <div class="change-status-button" placement="left auto" popoverClass="popover-class"
        [ngbPopover]="popContent" >
          <div class="down-arrow" ></div>
        </div>
        
    </div>
  </div>
 
</div>